# General
.DS_Store

# Android
Attendance-Android/bin
Attendance-Android/gen
Attendance-Android/.apt_generated
Attendance-Android/.factory_path

# App Engine
Attendance-AppEngine/gwt-unitCache/*
Attendance-AppEngine/war/attendance/WEB-INF/classes
Attendance-AppEngine/war/attendance/WEB-INF/appengine-generated
Attendance-AppEngine/.apt_generated
Attendance-AppEngine/.factory_path
Attendance-AppEngine/.gwt