# General
.DS_Store

*.pyc

# Android
Attendance/bin
Attendance/gen
Attendance-Android/bin
Attendance-Android/gen
Attendance-Android/.apt_generated
Attendance-Android/.factory_path

# App Engine
Attendance-AppEngine/gwt-unitCache/*

Attendance-AppEngine/war/WEB-INF/classes
Attendance-AppEngine/war/WEB-INF/deploy
Attendance-AppEngine/war/WEB-INF/appengine-generated

Attendance-AppEngine/.apt_generated
Attendance-AppEngine/.factory_path
Attendance-AppEngine/.gwt
Attendance-AppEngine/war/attendance/*.cache.*

Attendance-Web/war/WEB-INF/classes/*