<!DOCTYPE html>
<html>
  <head>
    <title>Attendance</title>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    
    <script type="text/javascript">
    	$(function() {
        	$('a.hijax').click(function(e) {
	    		e.preventDefault();
	    		var url = $(this).attr('href');
	    		$.get(url, function(data) {
	    			console.log(data);
	    		});
    		});
    	});
    </script>
    
    {%block head%}{%endblock%}
    
    <style type="text/css">
    </style>
  </head>
  <body>
  
  	<section>
		{%if user %}
        <strong>{{user.nickname}} &lt;{{user.email}}&gt;</strong>
        {%if is_admin%} | <a href="/_ah/admin">Admin</a>{%endif%}
        {%if sign_out%} | <a href="{{sign_out}}">Sign out</a>{%endif%}
        {% else %}
        {%if sign_in%}<a href="{{sign_in}}">Sign in</a>{%endif%}
        {%endif%}	
  	</section>
  	
  	<section>
  		{%block body%}{%endblock%}
  	</section>
  	
  </body>
</html>