<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


  <bean id="eventDao" class="org.gtugs.repository.JdoEventDao"/>

  <bean id="eventManager" class="org.gtugs.service.SimpleEventManager">
    <property name="eventDao" ref="eventDao"/>
  </bean>

  <bean id="guestDao" class="org.gtugs.repository.JdoGuestDao"/>

  <bean id="guestManager" class="org.gtugs.service.SimpleGuestManager">
    <property name="guestDao" ref="guestDao"/>
  </bean>

  <bean id="mapsService" class="org.gtugs.service.GoogleMapsService">
    <property name="key" value="ABQIAAAAVcC1CwycXgD607vgA6-JWRQsQrdbh9VYytIyhTexABq-UD140xRDqWhEuEAiRVhjGXFCXv8ybo6Mfw"/>
  </bean>


  <bean id="statsDao" class="org.gtugs.repository.JdoStatsDao"/>

</beans>